<div class="container">
<form #tForm="ngForm" novalidate>
    <div class="form-group row">
        <h4>1.</h4>
        <label class="col-sm-4 form-control-label" for="area">
            Укажите площадь для покраски в кв.м.
        </label>   
        <div class="col-sm-2">    
           <input type="number" min="0" max="10000" class="form-control" 
                  [(ngModel)]="area" name="area" #a="ngModel" required />            
        </div>
        <div [hidden]="a.valid" class="alert alert-danger">
               Не указана площадь.
        </div>
    </div>

    <div class="form-group row">
        <h4>2.</h4>
        <label class="col-sm-4 form-control-label" for="file">
            Выберите JSON с данными о материале: 
        </label>
        <div class="col-sm-4"> 
        <input type="file" (change)="fileChange($event)"  accept=".json"
               name="file" required />
        </div>
        <div [hidden]="data.expenditure" class="alert alert-danger">
             Файл не выбран.
        </div>
    </div>

    <div class="form-group row">
        <h4>3.</h4>
        <p class="form-control-label" *ngIf="data.expenditure"> 
            Расход материала: <b>{{data.expenditure}}</b> литров на кв. м.
        </p>
        <p class="form-control-label" *ngIf="data.expenditure"> 
            Нужный объем материала: <b>{{area * data.expenditure}}</b> литров.
        </p>

        <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr align="center" >
                    <td width="112"> Id товара: </td>
                    <td width="60" *ngFor="let col of cols" > {{col.name}} </td> 
                </tr>
                <tr align="center" >
                    <td width="100"> Литраж: </td>
                    <td width="60" *ngFor="let col of cols"> {{col.value}}л. </td> 
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of rows" >
                    <td [attr.colspan]="cols.length+1" >
                        <table class="table table-striped table-hover table-bordered table-condensed">
                            <tr align="center" >
                                <td width="100"> 
                                    Поставщик <strong>{{row.name}}</strong><br> цена за банку:
                                </td>
                                <td width="60" *ngFor="let item of row.tovar">
                                    {{ item.price }}
                                </td>      
                            </tr> 
                            <tr align="center" >
                                <td width="100"> Цена за литр: </td>
                                <td width="60" *ngFor="let item of row.tovar"> 
                                    {{ item.liter | number:'1.0-2'}} 
                                </td> 
                            </tr> 
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <div class="form-group row">
        <h4>4.</h4>
        <button type="button" class="btn btn-primary" 
                [disabled]="tForm.invalid || !data.expenditure"
                (click)="computePurchase()"
        > 
            Расчитать выгодную закупку
        </button>
    </div>
</form>
</div>